@use '../../../styles/variables' as _variables;
@use '../../../styles/colors' as _colors;

* {
    background-color: #292929;
    color: #e6e1e1;
}

.reading{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.title{
    padding: 2rem;
}

.readingMain{
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    border: 2px solid _colors.$black;
    @include _variables.gapPadding(2rem, 2rem);
    border-color: _colors.$burgundy;
    box-shadow: _colors.$box-shadow;
}

.items{
    display: flex;
    flex-flow: column;
    @include _variables.gapPadding(2rem, 2rem);
    overflow-x: auto;
    width: 25%;
}

.button, .resButton, .disabledButton{
    border: 2px solid _colors.$black;
    border-radius: 8px;
    background: _colors.$button-background;
    color: _colors.$button;
    font-size: 1.2rem;
    padding: 0.5rem;
    min-height: 5.5rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: _colors.$button-box-shadow;
    transition: all 0.3s ease;
    border-color: _colors.$burgundy;

    &:hover {
        background: _colors.$button-background-hover;
        color: _colors.$button-hover;
        box-shadow: _colors.$button-box-shadow-hover;
        transform: scale(1.05);
    }

    &:active {
        transition: all 0.1s ease;
        transform: scale(0.98);
        box-shadow: _colors.$button-box-shadow-active;
    }
}

.disabledButton{
    background: _colors.$disabledButton-background;
    color: _colors.$disabledButton;
    box-shadow: none;
    cursor: not-allowed;
    &:hover{
        background: _colors.$disabledButton-background;
        color: _colors.$disabledButton;
        box-shadow: none;
        transform: none;
    }
    &:active{
        background: _colors.$disabledButton-background;
        color: _colors.$disabledButton;
        box-shadow: none;
        transform: none;
    }
}

.resButton_hide{
    position: absolute;
    top: 40rem;
    opacity: 0;
    transition: opacity 2s ease;
}

.resButton_show{
    transition-delay: 3.5s;
    opacity: 1;
    
}

.infoContainer{
    display: flex;
    flex-flow: column;
    @include _variables.gapPadding(2rem, 2rem);
    width: 70%;
}

.infoText{
    display: flex;
    flex-flow: column;
    @include _variables.gapPadding(2rem, 2rem);
    border: 2px solid _colors.$black;
    min-height: 30%;
    height: calc(70% + 2rem);
    border-color: _colors.$burgundy;
    box-shadow:  _colors.$box-shadow;
}

.infoAnimationSample{
    display: flex;
    flex-flow: column;
    @include _variables.gapPadding(2rem, 2rem);
    border: 2px solid _colors.$black;
    height: 40%;
    border-color: _colors.$burgundy;
    box-shadow: _colors.$box-shadow;
}

.readingRead{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between
}

.cardDeck{
    width: 13.3rem;
    height: 22rem;
    border: 2px solid _colors.$black;
    background-size: cover;
    border-radius: 1rem;
}

.cardDeck_hide_animation{
    opacity: 0;
    transition: opacity 2s ease;
}

.card, .cardCloud{
    width: 13.3rem;
    height: 22rem;
    border-radius: 1rem;
    border: 2px solid _colors.$black;
    background-size: cover;
}

.cardPlaceholder {
  width: 13.3rem;
  height: 22rem;
  padding: 0;
  border-radius: 1rem;
  border: 2px dashed _colors.$burgundy;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  box-shadow: inset 0 0 10px _colors.$burgundy;
  transition: box-shadow 0.3s ease, background 0.3s ease;
  &::after {
    content: "положите карту";
    text-align: center;
    position: absolute;
    font-size: 2.5rem;
    opacity: 0.6;
  }
}

.readingPlaceholders{
    width: 50rem;
    display: flex;
    justify-content: space-between;
    transition: margin-bottom 2s ease;
}   

.readingPlaceholders_center_animation{
    margin-bottom: 15rem;  
    transition-delay: 1.5s;
}