$button-background: linear-gradient(145deg, #2a2a2a, #634d4d);
$button: #d4cccc;
$button-background-hover: linear-gradient(145deg, #3a2f2f, #634d4d);
$button-hover: #f2eaea;
$button-box-shadow: 0 0 4px rgba(100, 0, 0, 0.3);
$button-box-shadow-hover: 0 0 6px #000, inset 0 0 6px #3a2f2f;
$button-box-shadow-active: inset 0 0 10px rgba(100, 0, 0, 0.5);
$disabledButton-background: #2e2e2e;
$disabledButton: #888;

$box-shadow: 0 0 6px rgba(100, 0, 0, 0.4);

$black: black;
$burgundy: #4a2f2f;