$reading-button: #eee;
$reading-button-hover: #ffd6ea;
$reading-button-background: linear-gradient(145deg, #1a1a1a, #333333);
$reading-button-background-hover: linear-gradient(145deg, #444444, #1a1a1a);
$reading-button-box-shadow: 0 0 5px #270a10, inset 0 0 5px #361424;
$reading-button-box-shadow-hover:  0 0 5px #000, inset 0 0 5px #444;
$reading-button-box-shadow-active: inset 0 0 10px rgb(48, 18, 35);